.navbar {
  background-color: var(--gray);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand::first-letter {
  font-size: 2rem;
  color: brown;
}
.bag-product-conter{
    background-color: var(--dark);
    padding:4px 9px;
    border-radius: 100%;
    color: var(--with);
   




}

.styl-Icon{
    font-size:20px;
    font-weight:bold;
}

.bag{
    text-decoration: none;
}